/*fondo*/

.bodys {
    background-color: #f6f8ffff;
}

.unorder {
    background-color: #23ce6bff;
    /* barra de navegacion y botones*/
}


/*link navbar*/

.butt {
    color: #f6f8ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.foots {
    background-color: #50514fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rec {
    background-color: #50c9ceff;
}

.texto {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}