/*fondo*/

.bodys {
    background-color: #f6f8ffff;
}

.unorder {
    background-color: #f6f8ffff;
    /* barra de navegacion y botones*/
}


/*link navbar*/

.butt {
    color: #23ce6bff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18;
    font-weight: 600;
}

.foots {
    background-color: #2d3246;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto {
    color: #f6f8ffff;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

h5 {
    color: #23ce6bff;
}

.index-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 500;
    background-color: rgba(68, 68, 68, 0.562);
    text-align: center;
}

.card-font {
    color: #50514fff;
    background-color: #f6f8ffff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
}

.hydro {
    background-color: rgba(80, 202, 206, 0.644);
    display: flex;
    justify-content: center;
    padding: 0px;
}