/* Coolors Exported Palette - https://coolors.co/23ce6b-272d2d-f6f8ff-a846a0-50514f-50c9ce */


/* CSS */

--color1: hsla(145, 83%, 81%, 1);
--color2: hsla(180, 13%, 18%, 1);
--color3: hsla(227, 4%, 100%, 1);
--color4: hsla(305, 58%, 66%, 1);
--color5: hsla(90, 2%, 32%, 1);
--color6: hsla(182, 61%, 81%, 1);

/* HEX */

$color1: rgb(35, 206, 107);
$color2: #272d2dff;
$color3: #f6f8ffff;
$color4: #a846a0ff;
$color5: #50514fff;
$color6: #50c9ceff;
$color7: rgb(114, 80, 206);

/* HSL */

$color1: hsla(145, 83%, 81%, 1);
$color2: hsla(180, 13%, 18%, 1);
$color3: hsla(227, 4%, 100%, 1);
$color4: hsla(305, 58%, 66%, 1);
$color5: hsla(90, 2%, 32%, 1);
$color6: hsla(182, 61%, 81%, 1);

/* RGB */

$color1: rgba(35, 206, 107, 1);
$color2: rgba(39, 45, 45, 1);
$color3: rgba(246, 248, 255, 1);
$color4: rgba(168, 70, 160, 1);
$color5: rgba(80, 81, 79, 1);
$color6: rgba(80, 201, 206, 1);

/* GRADIENT */

$gradient-top: linear-gradient(0deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-right: linear-gradient(90deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-bottom: linear-gradient(180deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-left: linear-gradient(270deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-top-right: linear-gradient(45deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-bottom-right: linear-gradient(135deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-top-left: linear-gradient(225deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-bottom-left: linear-gradient(315deg, #23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);
$gradient-radial: radial-gradient(#23ce6bff, #272d2dff, #f6f8ffff, #a846a0ff, #50514fff, #50c9ceff);